/* .box-one {
  padding-left: 20px;
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 10px;
} */
.box-one {
  background-color: skyblue;
  padding: 20px;
  /* padding-left: 20px;
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 10px; */
  height: 100px;
  width: 100px;
  border: 12px solid red;
  /* margin: 20px; */
  margin: 50px;
  box-sizing: border-box;
}

.box-two {
  background-color: lightsalmon;
  padding: 20px;
  height: 100px;
  width: 100px;
  /* border-bottom: 10px;
  border-right: 20px;
  border-top: 50px; */
  border: 12px groove blueviolet;
  margin: 70px;
  /* box-sizing: border-box; */
  box-sizing: content-box;
}

.box-three {
  border: 10px dotted mediumaquamarine;
  background-color: grey;
  margin: 20px;
}
